<div class="content show">
	<h2 class="title">
		<%= @experiment.name %>
	</h2>

	<div class="ct-chart ct-perfect-fifth"></div>
	<div class="c2">
		<div class="vars">
			<h3>Dependent vars</h3>
			<% @experiment.dependent_vars.all.each do |dep_var|%>
			  <%= dep_var.name %>
			<% end %>
		</div>
		<div class="vars">
			<h3>Independent vars</h3>
			<ul>
			<% @experiment.independent_vars.all.each do |ind_var|%>
			  <li>
			  <%= "#{ind_var.name}:  #{ind_var.measurements.all.count} measurements (#{ind_var.mtype})" %>
			  </li>
			<% end %>
			</ul>
		</div>
	</div>
	<div class="c2">
		<div class="report">
			<h3>
				Report
			</h3>
			<ul>
			<% @experiment.independent_vars.all.each do |ind_var|%>
			  <li>
			  <%= "#{ind_var.name}:" %>

			  <%= form_tag("independent_vars/edit/#{ind_var.id}", method: 'post') do %>
			    <%= number_field_tag(:value) %>
			    <%= submit_tag('Submit') %>
			  <% end %>

			  </li>
			<% end %>
			</ul>
		</div>
	</div>	

	


</div>


